/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 20px;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.nav-link-item {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        transition: transform 0.3s ease-in-out;
    }

    .nav-links li {
        margin: 0;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #444;
    }
} */
