.navbar {
  background-color: rgba(125, 54, 18, 0.85);
  color: var(--text-color);
  height: var(--navbar-height);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-transform: uppercase;
}

.navbar-menu {
  display: flex;
  list-style: none;
}
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-link-item {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link-item:hover {
    color: #ffd700;
}