@import "tailwindcss";

.marquee-inner {
  white-space: nowrap;
}

#marquee {
  animation: scroll linear infinite;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.card-bg {
    background: linear-gradient(to bottom, #e1dbf1c4, #f1f1f1);
    border: 2px #ccc solid;
}

.bg-banner {
    /* background-color: #f2b162; */
}