@import "tailwindcss";

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoCondensed.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSans';
  src: url('./assets/fonts/SourceSans.ttf') format('truetype');
}

@font-face {
  font-family: 'WorkSans';
  src: url('./assets/fonts/WorkSans.ttf') format('truetype');
}


@font-face {
  font-family: 'PPNeueMontreal';
  src: url('./assets/fonts/ppneuemontreal-thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('./assets/fonts/ppneuemontreal-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('./assets/fonts/ppneuemontreal-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
}

@layer utilities {
  .font-headers {
    font-family: 'Montserrat', sans-serif;
  }
  .font-buttons {
    font-family: 'SourceSans', sans-serif;
  }
  .font-montreal {
    font-family: 'WorkSans', sans-serif;
  }
}

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
  }

.card-bg {
    background: linear-gradient(to bottom, #E8DCC9C4, #f1f1f1);
    transition: background 0.3s ease, transform 0.2s ease;
}

.card-bg:hover {
    background: linear-gradient(to bottom, #F0E1D1, #f8f8f8);
}

.card-border {
    border: 2px #ccc solid;
}

.productCardDiv {
  border-radius: 24px !important;
}

.curved-carousel {
    clip-path: polygon(
        0% 0%,
        5% 3%,
        10% 5%,
        15% 6.5%,
        20% 7.5%,
        25% 8.2%,
        30% 8.8%,
        35% 9.2%,
        40% 9.6%,
        45% 9.9%,
        50% 10%,
        55% 9.9%,
        60% 9.6%,
        65% 9.2%,
        70% 8.8%,
        75% 8.2%,
        80% 7.5%,
        85% 6.5%,
        90% 5%,
        95% 3%,
        100% 0%,

        100% 100%,

        95% 97%,
        90% 95%,
        85% 93.5%,
        80% 92.5%,
        75% 91.8%,
        70% 91.2%,
        65% 90.8%,
        60% 90.4%,
        55% 90.1%,
        50% 90%,
        45% 90.1%,
        40% 90.4%,
        35% 90.8%,
        30% 91.2%,
        25% 91.8%,
        20% 92.5%,
        15% 93.5%,
        10% 95%,
        5% 97%,
        0% 100%
    );
}
